@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .scroll::-webkit-scrollbar {
    @apply w-1 h-1
  }
  .scroll::-webkit-scrollbar-track {
    @apply bg-none
  }
  .scroll::-webkit-scrollbar-thumb {
    @apply bg-gray-400
  }
}
